<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{ bookmark.title }}</h1>
    <ul>
        <li>URL : <a href="bookmark.url"> {{ bookmark.url }}</a></li>
        <li>memo : {{ bookmark.memo }}</li>

</ul>
<a href="/bookmark/update/{{bookmark.id}}/">수정하기</a>
<a href="{% url 'bookmarks:update' bookmark.id %}">수정하기2</a>

<a href="/bookmark/delete/{{bookmark.id}}/">삭제하기</a>
<a href="{% url 'bookmarks:delete' bookmark.id %}">삭제하기2</a>


</body>
</html>